/* ==========================================================================
   Dress.is custom styles
   ========================================================================== */

.navbar-brand {
	margin: 0px;
	padding: 0px;
}

.updates .badge {
	border-radius: 4px;
	line-height: 16px;
}

.badge-info {
  background-color: #428bca; 
}

.badge-info:hover {
  background-color: #2a6496;
}

.updates {
	font-size: 18px;
}

/**
 * Extra large button extensions. Extends `.btn`.
 */
.btn-xlarge {
	padding: 18px 28px;
	font-size: 22px;
	line-height: normal;
	-webkit-border-radius: 8px;
	   -moz-border-radius: 8px;
			border-radius: 8px;
}

/**
 * Extra large button extensions. Extends `.btn`.
 */
.btn-xxl {
	padding: 22px 32px;
	font-size: 34px;
	line-height: normal;
	-webkit-border-radius: 8px;
	   -moz-border-radius: 8px;
			border-radius: 8px;
}


.flex-video {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
  margin-bottom: 16px;
  overflow: hidden;
}
 
.flex-video.widescreen { padding-bottom: 57.25%; }
.flex-video.vimeo { padding-top: 0; }
 
.flex-video iframe,
.flex-video object,
.flex-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* FAQ styles */
details {
	font-size: 16px;
	margin: 15px 0;
}

details p {
	margin-top: 10px;
}

details summary {
	font-size: 20px;
	color: #0088d6;
}

details summary:hover {
	text-decoration: underline;
	cursor: pointer;
}

.infographic-explanation {
	
}

footer {
	margin-top: 60px;
}

.offer .glyphicon {
	margin-top: 35px;
	font-size: 48px;
	color: #f56ba4;
}

.graphic-example-1, .graphic-example-2, .graphic-example-3, .graphic-example-4, .graphic-example-5, .graphic-example-6 {
	background-image: url(../img/thumbnails-infographics.jpg);
	background-repeat:no-repeat;
	width: 175px;
    height: 175px;
    -webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	border-radius: 500px;
	margin: 0px 0px 80px 0;
}

.graphic-example-1, .graphic-example-2, .graphic-example-3, .graphic-example-4, .graphic-example-5, .graphic-example-6 : hover {
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
	cursor: crosshair;
}

.graphic-example-1 {
	background-position: -200px 0;
}

.graphic-example-2 {
	background-position: 0 0;
}

.graphic-example-3 {
	background-position: 0 -200px;
}

.graphic-example-4 {
	background-position: -400px 0px;
}

.graphic-example-5 {
	background-position: -400px -200px;
}

.graphic-example-6 {
	background-position: -200px -200px;
}

.example-thumbnail:hover {
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
	cursor: zoom-in;
}

.carousel-indicators li{
	background-color: #3276b1;
	border: 1px solid #E0E0E0;
}

.carousel-control.right, .carousel-control.left {
	background-image: none;
	color: #3276b1;
}

/* responsive styles */

@media (min-width: 768px) and (max-width: 992px) {
  .main-panel h1 {
    font-size: 28px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
	.main-panel {
		margin-top: 30px;
	}
}

@media (min-width: 1200px) {
	.main-panel {
		margin-top: 50px;
	}
}

@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
  .flex-video { padding-top: 0; }
}

@media (max-width: 768px) {
  .main-panel h1 {
    font-size: 28px;
  }
  
  .work-examples p{
    text-align: center;
    margin: 0 15%;
  }
  
  .example-thumbnail > div {  
    margin: auto;
  }
}


